<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre - Página principal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/estilos.css" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0d74ad81f.js" crossorigin="anonymous"></script>
</head>

<body class="tipografia-roboto">

    <header class="fondo-amarillo relleno">
        <div class="header">
            
                <div class="logo"><img src="imagenes/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></div>
            
            <div class="barra-busqueda">
                <input type="text" name="search" placeholder="buscar productos, marcas" class="buscador">
                <div class="icono-buscador">
                    <i class="fas fa-search"></i>
                </div>
            </div>

            <div class="contenedor">
                <i class="fas fa-hand-holding-usd icono-dinero"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

        </div>

        <div class="ocultar-mobile">

            <nav class="contenedor-nav">

                <ul class="sacar-puntos">
                    <li>Ofertas<a href="#"></a></li>
                    <li>Tiendas Oficiales<a href="#"></a></li>
                    <li>Vender<a href="#"></a></li>
                    <li>Ayuda<a href="#"></a></li>
                </ul>



                <ul class="sacar-puntos">
                    <a href="/register">
                        <li>Creá tu cuenta<img src="imagenes/images/address-card-solid.svg" alt="Icono-Creá-tu-cuenta"
                                class="iconos"></li>
                    </a>
                    <a href="/login">
                        <li>Ingresá<img src="imagenes/images/arrow-right-to-bracket-solid.svg" alt="Icono-ingresa"
                                class="iconos"></li>
                    </a>
                    <a href="#">
                        <li>Mis compras<img src="imagenes/images/basket-shopping-solid.svg" alt="Icono-mis-compras"
                                class="iconos"></li>
                    </a>
                </ul>

            </nav>
        </div>

        <div class="menu">
            <img src="imagenes/images/menu.png" alt="menu" class="icono-menu">
        </div>
    </header>

    <main class="fondo-gris">
        <img src="imagenes/images/img-home-banner.jpg" alt="img-home-banner" class="image-banner">
        <div class="centrado">
            <h2 class="titulares">Basado en tu última visita</h2>
            <section class="contenedor-articulos">
                <article class="fondo-blanco">
                    <img src="imagenes/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex"
                        class="tamano-imagen">

                    <div class="borde-caja">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>

                        <div class="fila">
                            <span class="precios">$6.770</span>
                            <span class="descuentos">40% off</span>
                            <h4 class="descripciones">Cafetera Moulinex</h4>
                        </div>

                    </div>
                </article>


                <article class="fondo-blanco">
                    <img src="imagenes/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"
                        class="tamano-imagen">
                    <div class="borde-caja">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>

                        <div class="fila">
                            <span class="precios">$230.000</span>
                            <span class="descuentos">20% off</span>
                            <h4 class="descripciones">MacBook Pro 2019</h4>
                        </div>
                    </div>

                </article>

                <article class="fondo-blanco">
                    <img src="imagenes/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"
                        class="tamano-imagen">
                    <div class="borde-caja">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>

                        <div class="fila">
                            <span class="precios">$70.500</span>
                            <span class="descuentos">10% off</span>
                            <h4 class="descripciones">Samsung Galaxy S10</h4>
                        </div>

                    </div>
                </article>

                <article class="fondo-blanco">
                    <img src="imagenes/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"
                        class="tamano-imagen">
                    <div class="borde-caja">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>

                        <div class="fila">
                            <span class="precios">$23.200</span>
                            <span class="descuentos">5% off</span>
                            <h4 class="descripciones">SmartTv Samsung 43</h4>
                        </div>
                    </div>


                </article>
            </section>

            <h2 class="titulares">Sección de Ofertas</h2>
            <section class="contenedor-articulos">

                <article class="fondo-blanco">
                    <img src="imagenes/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex"
                        class="tamano-imagen">
                    <div class="borde-caja">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>

                        <div class="fila">
                            <span class="precios">$6.770</span>
                            <span class="descuentos">40% off</span>
                            <h4 class="descripciones">Cafetera Moulinex</h4>
                        </div>

                    </div>
                </article>

                <article class="fondo-blanco">
                    <img src="imagenes/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"
                        class="tamano-imagen">
                    <div class="borde-caja">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>

                        <div class="fila">
                            <span class="precios">$230.000</span>
                            <span class="descuentos">20% off</span>
                            <h4 class="descripciones">MacBook Pro 2019</h4>
                        </div>

                    </div>
                </article>

                <article class="fondo-blanco">
                    <img src="imagenes/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"
                        class="tamano-imagen">
                    <div class="borde-caja">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>

                        <div class="fila">
                            <span class="precios">$70.500</span>
                            <span class="descuentos">10% off</span>
                            <h4 class="descripciones">Samsung Galaxy S10</h4>
                        </div>

                    </div>
                </article>

                <article class="fondo-blanco">
                    <img src="imagenes/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"
                        class="tamano-imagen">
                    <div class="borde-caja">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>

                        <div class="fila">
                            <span class="precios">$23.200</span>
                            <span class="descuentos">5% off</span>
                            <h4 class="descripciones">SmartTv Samsung 43</h4>
                        </div>

                    </div>
                </article>
            </section>
        </div>
    </main>

    <footer>
        <div class="centrado-elementos">
            <section class="separacion">
                <i class="fa-solid fa-credit-card fa-2xl iconos-footer" style="color: #1259c3;"></i>
                <h3>Pagá con tarjeta o efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </section>

            <section class="separacion">
                <i class="fa-solid fa-gift fa-2xl iconos-footer" style="color: #1259c3;"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </section>

            <section class="separacion">
                <i class="fa-solid fa-user-shield fa-2xl iconos-footer" style="color: #1259c3;"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </section>

        </div>
        <p class="legales">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>

</html>